---
import Layout from '../../layouts/Layout.astro';

import Scene from '../Scene.astro';

import Intro from '../../components/Intro.astro';
---

<Layout title="Votos Argentina 2024">
  <main>
    <Intro />
    <div class="m-auto h-[1px] w-[80%] bg-white"></div>
    <Scene />
  </main>
  <div class="m-auto h-[1px] mb-12 w-[80%] bg-white"></div>
</Layout>
