---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Informacion Votaciones Polis 2024">
  <section class="my-8 gradientBrown-bg">
    <div
      class="max-w-7xl m-auto h-full justify-center items-center flex flex-col gap-10 text-white font-montserrat lg:text-base text-sm lg:text-left text-center textShadow mt-32 lg:mt-0 px-4"
    >
      <div class="lg:mt-24">
        <h2 class="text-2xl tracking-wider">¿Cómo funciona Polis?</h2>
        <p class="py-4 lg:px-0 px-4 tracking-wide">
          Polis es una plataforma diseñada para facilitar la participación
          ciudadana en el proceso electoral argentino. A través de esta
          plataforma, los usuarios pueden votar por hasta 4 de los partidos
          politicos mas relevantes , ofreciendo así una herramienta para
          expresar sus preferencias de manera clara y efectiva.
        </p>
      </div>

      <div>
        <h3 class="text-2xl tracking-wider">1. Registro y Autenticación</h3>
        <p class="py-4 lg:px-0 px-4 tracking-wide">
          Para garantizar la integridad del proceso de votación, Polis cuenta
          con un sistema de autenticación seguro. Los usuarios tienen la opción
          de registrarse utilizando sus cuentas de Google o GitHub, lo que
          proporciona un método conveniente y confiable para verificar la
          identidad de cada votante. Esta autenticación también ayuda a prevenir
          fraudes y asegura que cada voto sea único y válido.
        </p>
      </div>

      <div>
        <h4 class="text-2xl tracking-wider">2. Selección de Candidatos</h4>
        <p class="py-4 lg:px-0 px-4 tracking-wide">
          En Polis, clasificamos brevemente a los candidatos según su
          orientación ideológica, distinguiendo entre izquierda y derecha. Esta
          información básica ayuda a los usuarios a alinear sus preferencias
          políticas con las opciones disponibles en la plataforma. Esta versión
          reduce la explicación a los puntos clave, manteniendo la información
          esencial sobre la selección de candidatos en Polis. Si necesitas más
          ajustes o alguna otra modificación, no dudes en pedirlo.
        </p>
      </div>

      <div>
        <h5 class="text-2xl tracking-wider">3. Votación y Resultados</h5>
        <p class="py-4 lg:px-0 px-4 tracking-wide">
          El proceso de votación en Polis es simple y directo. Los usuarios
          seleccionan un candidato de su preferencia y confirman su elección.
          Una vez completada la votación, los resultados se registran de manera
          segura en nuestra base de datos SQL, lo que garantiza la transparencia
          y la precisión del conteo de votos. Después de la votacion se publican
          instantaneamente los resultados finales, lo que proporciona una visión
          clara de las preferencias de los votantes y ayuda a informar el debate
          político en el país.
        </p>
      </div>
    </div>
  </section>
</Layout>
