---

---

<footer class="mt-12 py-10 gradientBrown-bg font-montserrat">
  <div class="lg:grid grid-cols-3 text-white flex flex-col lg:gap-0 gap-6">
    <div class="m-auto">
      <ul class="lg:text-2xl text-xl flex gap-3">
        <li><a class="textGlow" href="/vota">Votar</a></li>
        <li><a class="textGlow" href="/candidatos">Candidatos</a></li>
        <li><a class="textGlow" href="/informacion">Informacion</a></li>
      </ul>
    </div>
    <div class="m-auto text-xl">
      <div class="h-[1px] bg-white"></div>
      <p class="p-2">© 2024 Polis all rights reserved</p>
      <div class="h-[1px] bg-white"></div>
    </div>
    <div class="text-2xl m-auto">
      <a target="_blank" href="https://github.com/MaxZc7?tab=repositories">
        <i class="fa-brands fa-github textGlow"></i>
      </a>
    </div>
  </div>
</footer>
