---

---

<section
  class="flex flex-col m-auto w-full h-[100dvh] justify-center items-center gradientBrown-bg"
>
  <div class="mb-10 mt-16">
    <h1
      class="lg:text-7xl text-4xl textShadow max-w-3xl text-center font-semibold text-white font-montserrat uppercase"
    >
      Votá a lo mejor de la politica Argentina
    </h1>
  </div>
  <div class="text-xl text-white uppercase">
    <a
      class="border font-bold border-sky-500 rounded-full px-3 py-2 hover:bg-sky-500 transition"
      href="/vota"
    >
      Votá Ahora</a
    >
  </div>
</section>
