---

---

<section
  class="flex w-full my-24 m-auto gradientBrown-bg font-montserrat textShadow"
>
  <div class="lg:grid grid-cols-2 gap-4 flex flex-col text-white lg:m-auto">
    <div
      class="w-full flex flex-col px-12 py-6 text-center items-center justify-center"
    >
      <h2 class="lg:text-5xl text-2xl lg:mb-8 mb-2">
        La Escena Politica Argentina
      </h2>
      <div class="flex flex-col mt-8 lg:text-lg text-sm">
        <p class="">
          Argentina vive un vaivén político entre el oficialismo y la oposición,
          marcando la pauta de la escena. Con varias fuerzas políticas en juego,
          la cosa se pone movida. Cambios recientes han agitado las aguas,
          afectando tanto el interior del país como las relaciones
          internacionales.
        </p>
        <p class="py-6">
          La situación económica y otras movidas generan controversias. La
          inflación y la deuda externa están en la palestra, y temas sociales
          como la desigualdad y la respuesta a la inseguridad tienen a todos
          hablando. Los políticos están en una encrucijada, y la ciudadanía
          espera respuestas claras.
        </p>
        <p>
          La participación ciudadana está en alza, sobre todo entre los jóvenes
          que quieren más transparencia y acción. Las redes sociales y la
          tecnología juegan un papel importante, conectando a la sociedad y
          haciendo que la voz de la gente se escuche fuerte y claro.
        </p>
      </div>
    </div>
    <div class="w-full">
      <img
        class="lg:rounded-xl rounded-2xl lg:px-0 px-2"
        src="/Milei-Alberto.webp"
        alt=""
      />
    </div>
  </div>
</section>
